* {
	margin: 0;
	padding: 0;
}
/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Open+Sans:ital,wght@1,700;1,800&display=swap');

html {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: $fuente-titulo;
	color: $color-titulo;
	margin-top: 1em;
	margin-bottom: 1em;
	animation-name: titulo_animado;/*PROPIEDADES DE LA ANIMACION*/
	animation-iteration-count: 1;
	animation-delay: 500ms;
	animation-duration: 2s;
}
/* animaciones */
img:hover {
	transform: scale(1.009);
}
@keyframes titulo_animado {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(1.9rem);
	}
	100% {
	transform: translateX(0);
	}
}
/* background & padding */
.grid-areas__header {
	background-color: $color-header;
	padding: 1rem 1.5rem;
	grid-area: header;
}
.grid-areas__main {
	background-color: $color-main;
	padding: 1rem 1.5rem;
	grid-area: main;
}
.grid-areas__footer {
	background-color: #000;
	padding: 1rem 1.5rem;
	grid-area: footer;
}
body {
	min-height: 100vh;
}
/* NAV */
header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.flex-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: nowrap;
	text-align: center;
	list-style: none;
}
.flex-nav__li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #754C45;
	width: 9.2rem;
	height: 2.3rem;
	margin-left: 2rem;
	padding: 2px;
	border-radius: 5px;
	font-size: 1.15em
}
.flex-nav__li:hover {
	background-color: lightblue;
	a {
		color: black;
	}
}
a {
	text-decoration: none;
	color: #DFE0DF;
}
/* PROPIEDADES GRALES */
footer p, div {
	color: #ffffff;
}
.centrar-texto {
	text-align: center;
}
.display-block {
	display: block;
}
/* GRID GENERAL*/
.grid-areas {
	display: grid;
	grid-template-areas: "header" "main" "footer";
	grid-template-rows: 6.5em auto 4em;
}