/*index.html*/
.img-p-index {
	display: flex;
	flex-direction: row;
	justify-content: center;
	img {
		width: 90%;
		height: auto;
	}
}
.img {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 3.5em;
}
/*especialidades.html*/
.carousel {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
iframe {
	max-width: 100%;
}
/* otros-productos.html */
div img {
	margin-right: .3em;
	margin-bottom: .3em;
}
/* nosotros.html */
.nosotros-texto {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	background-image: linear-gradient(to bottom right, #fcba03, #f5c43d);
	border-radius: 15px;
	font-size: 2.5em;
	grid-area: texto;
	p {
		color: black;
		margin: 0 .5em;
	}
}
@each $nosotros, $imagen, $grid-area in (chef, chef-pasta, img), (pasta-plate, cooked-pasta, img2) {
	.#{$nosotros}-img {
		max-width: 100%;
		background-image: url(../assets/#{$imagen}.jpg);
		grid-area: #{$grid-area};
	}
}
/*GRID NOSOTROS.HTML*/
.grid-nosotros {
	display: grid;
	grid-template-areas: "img texto" "img img2";
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 50% 50%;
	grid-column-gap: .5em;
	grid-row-gap: .5em;
}
/* contacto.html */
.contacto {
	display: flex;
	flex-direction: row;
	justify-content: center;
	input, textarea {
		margin: 8px;
	}
	.form {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: black;
		width: 35%;
		padding: 2.5em 1em;
		border: 0.25em solid #150b54;
		textarea {
		  resize: none;
		}
	}
}